table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    z-index: -2;
}

table tr th,
table tr td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table tr th {
    background-color: var(--green);
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f5f5f5;
}

