@import url('../../App.css');

#contact {
    background-color: #fff;
}

#contact form {
    margin: 0;
    padding-left: 10rem;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 5px;
    width: 30%;
    background-color: #004c6d;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
}
